/*Some part of this code is coming from the following code under MIT license:
https://github.com/lockfale/OSINT-Framework/blob/master/public/css/arf.css */
body {
   background: rgb(34,193,195);
   background: linear-gradient(343deg, rgba(34,193,195,1) 0%, rgba(239,244,254,1) 75%); 
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

#header h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  margin-top: 15px;
  font-weight: 900;
  font-size: 40px;
}

#header .logo {
  top: 3px;
  left:10px;
  position:absolute;
  width: 70px;
}

.top {
  position: absolute;
  color: rgb(190, 190, 190);
  font-size: 12px;
  margin: 0px;
}

.abstract {
  left: 88px;
  text-align: left;
}

.right {
  right: 23px;
  text-align: right;
}

.legend {
  display: inline-block
}

.notes {
  color:rgb(230, 230, 230)
}

.column {
  width: 33%;
  text-align: center;
  padding: 2%;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  color:rgb(226, 7, 7);
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  stroke: rgb(173, 173, 173);
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: rgb(0,0,0);
}

path.link {
  fill: none;
  stroke: rgb(185, 185, 185);
  stroke-width: 1px;
}

.node-item {
  fill: #006600;
}
@font-face {
    font-family: 'myfont';
    src:url('fonts/myfont.eot?-td2xif');
    src:url('fonts/myfont.eot?#iefix-td2xif') format('embedded-opentype'),
        url('fonts/myfont.woff?-td2xif') format('woff'),
        url('fonts/myfont.ttf?-td2xif') format('truetype'),
        url('fonts/myfont.svg?-td2xif#myfont') format('svg');
    // Different URLs are required for optimal browser support
    // Make sure to :
    // 1) replace the URLs with your font's URLs
    // 2) replace `#myfont` with the name of your font
    font-weight: normal; // To avoid the font inherits boldness
    font-style: normal; // To avoid font inherits obliqueness or italic
}

.icon {
    font-family: 'myfont', Verdana, Arial, sans-serif; // Use regular fonts as fallback
    speak: none; // To avoid screen readers trying to read the content
    font-style: normal; // To avoid font inherits obliqueness or italic
    font-weight: normal; // To avoid the font inherits boldness
    font-variant: normal; // To avoid the font inherits small-caps
    text-transform: none; // To avoid the font inherits capitalization/uppercase/lowercase
    line-height: 1; // To avoid the font inherits an undesired line-height
    -webkit-font-smoothing: antialiased; // For improved readability on Webkit
    -moz-osx-font-smoothing: grayscale; // For improved readability on OSX + Mozilla
}
